.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  position: relative;
  margin-bottom: auto;
}

.sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  width: 330px;
}

.link__group {
  display: flex;
  margin-bottom: 25px;
}

.tab {
  display: flex;
  flex: 1;
  justify-content: center;
  border-bottom: 2px solid #313253;
}

.tab[data-location='inactive'] {
  border-bottom-color: #ceced5;
}

.tab__inner {
  padding: 8px;
}
