.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  min-height: 35px;
  font-family: inherit;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  color: #313253;
  cursor: pointer;
}

.shop {
  background: #d1cece;
  width: 150px;
  padding: 10px;
}

.shop:nth-of-type(n) {
  margin-bottom: 10px;
}

.shop:hover {
  background: #949292;
}

.cart {
  background: #d1cece;
  width: 100px;
  padding: 5px;
}

.cart:hover {
  background: #6cf55a;
}

.active:focus {
  background: grey;
}

.delete {
  background: #dd6565;
  width: 60px;
  padding: 5px;
}

.delete:hover {
  background: #d34a4a;
}
