.card__shop {
  border-radius: 4px;
  border: 1px solid #e6e3e3;
  width: 300px;
  cursor: pointer;
}

.card__content {
  padding: 5px;
}

.card__shop:hover {
  background: #f0ecec;
}

.visual {
  display: flex;
  margin-bottom: 5px;
}

.action {
  display: flex;
  justify-content: space-between;
}
