.card__shop {
  border-radius: 4px;
  border: 1px solid #e6e3e3;
  width: 300px;
  cursor: pointer;
}

.card__content {
  padding: 5px;
}

.card__shop:hover {
  background: #f0ecec;
}

.visual {
  display: flex;
}

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove__btn {
  padding: 5px 10px;
}

.img__divider {
  margin-right: 10px;
}
