@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  border: 2px solid transparent;
  border-radius: 50%;
  animation: spinner 1.2s linear infinite;
  width: 20px;
  height: 20px;
}

[data-contrast='dark'] {
  border-top-color: #313253;
  border-right-color: #313253;
  border-bottom-color: #313253;
}

[data-contrast='light'] {
  border-top-color: #d6d6dd;
  border-right-color: #d6d6dd;
  border-bottom-color: #d6d6dd;
}
