.description__wrapper {
  margin-bottom: 10px;
  height: 50px;
  overflow: scroll;
  overflow-x: hidden;
}

.description__wrapper::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}
.description__wrapper::-webkit-scrollbar-thumb {
  background-color: #d1cece;
  border-radius: 5px;
}
.description__wrapper::-webkit-scrollbar-button {
  display: none;
}

.description {
  font-size: 14px;
  line-height: 16px;
}

.price {
  font-size: 18px;
  line-height: 22px;
}

.image {
  display: block;
  border-radius: 4px;
  width: 150px;
  height: 150px;
}

.product__name {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 22px;
}

.shopname {
  padding: 5px 10px;
  font-size: 14px;
  line-height: 16px;
  color: #335304;
}

.input__count {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  border: 1px solid transparent;
  border-radius: 2px;
  width: 70px;
  padding: 5px;
  font-family: 'Nunito, sans-serif';
  font-size: 14px;
  font-weight: 700;
  color: #313253;
}

.input__count:focus {
  border-color: #b6b2b2;
  outline: none;
}
