.shops {
  display: flex;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  margin-bottom: 15px;
  height: 100px;
  width: 100%;
  overflow: scroll;
  overflow-y: hidden;
}
.shops::-webkit-scrollbar {
  height: 5px;
  border-radius: 5px;
}
.shops::-webkit-scrollbar-thumb {
  background-color: #d1cece;
  border-radius: 5px;
}
.shops::-webkit-scrollbar-button {
  display: none;
}

.button__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

.products {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  margin-bottom: 15px;
  height: 70vh;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.products::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}
.products::-webkit-scrollbar-thumb {
  background-color: #d1cece;
  border-radius: 5px;
}
.products::-webkit-scrollbar-button {
  display: none;
}

.products__group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 15px;
}
